body {
  font: 20px Arial, sans-serif;
}
.navbar {
  background-color: #F59722;
}

.navbar-brand {
  padding-left: 10px;
}

.quem-somos {
  background-color: #FFEDC9;
}

.produtos {
  background-color: #FAA85D;
}
.contato {
  background-color: #FFEDC9;
}

.margin {
  padding-bottom: 30px;
  padding-top: 10px;
}

.rodape {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  color: white;
}